<header class="page-header">
<h1>About Us</h1>
</header>

<div class="well">
<p>Welcome to the Jungle, your number one source for all things. We're dedicated to giving you the very best products.</p>
</div> 